@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
body {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0;
  margin: 0;
}
.container {
  z-index: 999;
}
#particles-js {
  position: fixed;
  z-index: -999;
  height: 100vh;
  width: 100%;
}
.content {
  max-width: 1050px;
  margin: 0 auto;
}
.menu {
  top: 0.7rem;
  position: absolute;
  height: 2rem;
  width: 70%;
  left: 15%;
  display: flex;
  justify-content: space-between;
}
.menu #logo {
  color: #4742a9;
}
.menu a {
  text-decoration: none;
  color: aliceblue;
  text-transform: uppercase;
}
.menu .mainMenu a {
  padding: 1rem;
}
#hamburgerMenu {
  z-index: 9999;
  opacity: 0;
  position: fixed;
  top: 2rem;
  right: 2rem;
  left: auto;
  bottom: auto;
  transition: 0.5s;
}
#hamburgerMenu i {
  font-size: 2rem;
  color: #762722;
}
#mobileMenu {
  left: 100%;
  opacity: 0;
  width: 50%;
  height: 100vh;
  background-color: #4742a9;
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9998;
}
#mobileMenu a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 5% 0;
  width: 100%;
  font-size: 2rem;
  color: aliceblue;
  text-align: center;
}
#mobileMenu i {
  font-size: 2rem;
  color: aliceblue;
  text-align: center;
  margin-right: 2rem;
}
#mobileMenu a:hover {
  background-color: #606aa9;
}
.header {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.header .headerText {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.header .headerText h1 {
  font-size: 3rem;
  text-align: center;
  background-color: rgba(71, 66, 169, 0.7);
  padding: 0.5rem 2rem;
}
.header .headerText h3 {
  font-size: 2rem;
  text-align: center;
  background-color: rgba(71, 66, 169, 0.7);
  padding: 0.5rem 2rem;
}
.header .headerText h3 a {
  color: #762722;
  font-size: 3rem;
  text-decoration: none;
}
.header .btnMain {
  color: aliceblue;
  font-size: 2rem;
  text-decoration: none;
  user-select: none;
  background: #762722;
  padding: .3em 1em;
  border-radius: 0.7rem;
}
.sale {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sale .item {
  padding: 3rem;
}
.sale span {
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 1rem;
  font-size: 1rem;
  padding: 1rem 2rem;
  color: #762722;
}
.sale a {
  text-transform: uppercase;
  color: aliceblue;
  font-size: 2rem;
  text-decoration: none;
  user-select: none;
  background: #762722;
  padding: .3em 2em;
  border-radius: 0.7rem;
}
h2 {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  background-color: rgba(71, 66, 169, 0.7);
  padding: 0.5rem 2rem;
}
.whoIIm {
  min-height: 50vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.whoIIm img {
  max-height: 400px;
  width: auto;
  margin: auto 0;
  border-radius: 0.5rem;
}
.whoIIm ul {
  max-width: 600px;
}
.whoIIm ul li {
  list-style-type: none;
  line-height: 3rem;
  font-size: 1.5rem;
}
.whoIIm ul i {
  padding-right: 1rem;
  color: #762722;
}
.working {
  background-color: #272727;
  color: aliceblue;
  text-align: center;
}
.working .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.working .row .workingColumn {
  padding: 1rem 1rem;
  max-width: 230px;
}
.working .row .workingColumn i {
  font-size: 10vh;
}
.working .row .workingColumn h3 {
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
}
.working .row .workingColumn span {
  line-height: 1.5rem;
}
.working img {
  padding-top: 2rem;
  width: 50%;
}
.result {
  color: black;
  text-align: center;
}
.result .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.result .row .workingColumn {
  padding: 1rem 1rem;
  max-width: 230px;
}
.result .row .workingColumn i {
  font-size: 10vh;
}
.result .row .workingColumn h3 {
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
}
.result .row .workingColumn span {
  line-height: 1.5rem;
}
.result img {
  padding-top: 2rem;
  width: 50%;
}
.portfolio {
  background-color: #272727;
}
.portfolio .portfolioItem {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 3rem 0;
  margin: 1rem 1rem;
}
.portfolio .portfolioItem .items {
  position: relative;
}
.portfolio .portfolioItem .items section {
  opacity: 0.7;
  transition: 0.5s;
  color: black;
  text-decoration: none;
  font-size: 60px;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0%;
  margin-top: -30px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
.portfolio .portfolioItem .items .about {
  opacity: 0;
  transition: 0.5s;
  background-color: #4742a9;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.portfolio .portfolioItem .items .about:hover {
  opacity: 1;
}
.price {
  min-height: 50vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.price h1 {
  color: aliceblue;
  background-color: #762722;
  margin: 0;
  font-size: 1.7rem;
  width: 100%;
  text-align: center;
  margin-bottom: 0.8rem;
}
.price .name {
  background-color: #4742a9;
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.price .name h3 {
  font-size: 2rem;
  color: aliceblue;
  margin-bottom: 0.5rem;
}
.price .name h4 {
  margin: 0.1rem;
}
.price .name .old {
  text-decoration: line-through;
  color: darkgrey;
}
.price .name .new {
  color: aliceblue;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.price .item {
  max-width: 300px;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: #4742a9 solid 1px;
  border-radius: 5px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
  background-color: white;
}
.price .item .point {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.price .item ul {
  padding: 0;
}
.price .item li {
  text-align: center;
  padding: 0 1rem;
  list-style-type: none;
}
.price .item li:after {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  content: '';
  display: block;
  height: 2px;
  background: darkgrey;
}
.contact {
  min-height: 50vh;
  background-color: #272727;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact span,
.contact i {
  font-size: 2rem;
  color: aliceblue;
  text-align: center;
}
.contact i {
  padding: 1rem 0.5rem;
}
.contact span {
  color: aliceblue;
  font-size: 1.5rem;
  padding-bottom: 4rem;
}
.footer {
  background-image: url(../img/veb-dizajn-png.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  color: aliceblue;
}
.footer li {
  font-size: 1.2rem;
  text-decoration: none;
  list-style-type: none;
}
.footer .footerContact {
  text-align: right;
}
.feedback {
  min-height: 50vh;
}
.feedback p {
  font-size: 2rem;
}
.feedback section {
  font-size: 1.4rem;
  text-align: justify;
  margin: 0 2rem;
}
.feedback p:before {
  margin-bottom: 1rem;
  content: '';
  display: block;
  height: 2px;
  background: #4742a9;
}
.feedback .item:after {
  margin-top: 1rem;
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #4742a9;
}
#back {
  position: fixed;
  top: auto;
  right: auto;
  left: 3rem;
  bottom: 1rem;
  transition: 0.5s;
}
#back i {
  font-size: 2.5rem;
  color: #762722;
}
#conteinerSale {
  width: 80%;
  height: 80vh;
  background-color: #4742a9;
  position: fixed;
  left: 200%;
  top: 10%;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#conteinerSale input[type="submit"] {
  text-transform: uppercase;
  color: aliceblue;
  font-size: 2rem;
  text-decoration: none;
  user-select: none;
  background: #762722;
  padding: .3em 2em;
  border-radius: 0.7rem;
}
#conteinerSale form {
  width: 80%;
  padding: auto 0;
}
#conteinerSale .saleItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#conteinerSale .saleItems input {
  font-size: 1.5rem;
  width: 100%;
  margin-top: 0.5rem;
  background-color: #4742a9;
  border: 0;
  outline: none;
}
#conteinerSale .saleItems hr {
  width: 100%;
}
#conteinerSale span {
  color: aliceblue;
  font-size: 1.5rem;
  text-align: center;
  padding: 0 3rem;
}
#conteinerSale .saleSubmitBtn {
  border: 0;
  display: block;
  margin: 5rem auto;
}
#conteinerSale a {
  color: darkgrey;
  font-size: 5rem;
}
#conteinerSale a:hover {
  color: aliceblue;
}
@media (max-width: 900px) {
  .sale span {
    display: none;
  }
  #mobileMenu i {
    display: none;
  }
  #menu {
    display: none;
  }
  #conteinerSale {
    height: 100vh;
    padding: 0;
    top: 0;
  }
  #conteinerSale input[type="submit"] {
    font-size: 1.5rem;
    padding: .3em 2em;
    border-radius: 0.7rem;
  }
  .footer li {
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=style.css.map */